<div
  class="grid grid-cols-6 gap-2 items-center p-2 shadow-md bg-slate-100 rounded-md"
>
  <input
    class="cursor-pointer"
    type="checkbox"
    [checked]="wish.completed"
    (click)="toggleCheck()"
  />
  <span class="font-bold">{{ wish.id }}. Wish</span>
  @if (!wish.completed) {
    <span class="col-span-3">{{ wish.wish }}</span>
  } @else {
    <span class="col-span-3 line-through text-green-400 font-bold italic">{{
      wish.wish
    }}</span>
  }
  <button
    class="p-1 rounded-md bg-red-400 hover:bg-red-500 hover:scale-105 transition-all"
    (click)="deteleWish()"
  >
    Delete
  </button>
</div>
